<div class="md-form">
  <%= f.text_field :nombre, class: 'form-control'  %>
  <%= f.label :nombre %>
</div>
<div class="md-form">
  <%= f.text_field :descripcion, class: 'form-control'  %>
  <%= f.label :descripcion %>
</div>
<div class="md-form">
  <span class="waves-input-wrapper waves-effect waves-light" style=" display: block; ">
    <%= f.submit 'Enviar', class: 'btn btn-block btn-secondary btn-sm' %>
  </span >
</div>